@media (max-width: 768px) {
  .container .card {
    border-radius: 0;
    border: none;
    height: 843px;
    width: 390px;
    gap: 2.5rem;
  }

  .container .card .header .description {
    font-size: 0.9rem;
    max-width: 350px;
  }
}