.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .card {
  background-color: rgba(212, 212, 212, 81%);
  height: 900px;
  width: 536px;
  border-radius: 10px;
  border: 3px solid var(--main-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  gap: 4rem;
}

.container .card .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .card .header .img_avatar {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin-top: 2.5rem;
}

.container .card .header .name {
  font-size: 2rem;
  color: var(--main-color);
}

.container .card .header .description {
  max-width: 450px;
  width: 100%;
  font-size: 1.25rem;
  color: var(--dark-text);
  text-align: center;
}

.container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

.container .content .btn {
  height: 68px;
  width: 350px;
  border-radius: 0.9rem;
  border: 0;
  cursor: pointer;
  color: var(--light-text);
  font-size: 1.3rem;
  font-weight: 400;
  background: var(--main-color);
  border-right: .25rem solid var(--accent-color);
  border-bottom: .25rem solid var(--accent-color);
  transition: .5s;
}

.container .content .btn:hover {
  transform: scale(1.04);
}

.container .social_networks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  flex-shrink: 0;
  gap: 2.5rem;
}

.container .social_networks span {
  color: var(--main-color);
}